.DS_Store
target
*.iml
.idea
*.class
*.log
.cache
/gh-pages
/.cache
*.swp
node_modules
.classpath
.project
.settings
.kube
.minikube
.DS_Store
.vscode
firebase*
yarn*
package*
node_modules
.firebaserc
.firebase

