<nav class="rhd-footer-nav" aria-label="Secondary Navigation" role="navigation">
  <ul class="rhd-menu">
    <li class="menu-item menu-item--expanded">
      <h3 class="section-toggle">Resources</h3>
      <ul class="rhd-menu">
        <li class="menu-item">
          <a href="https://github.com/redhat-developer-demos/knative-tutorial" title="Knative Tutorial">Knative
            Tutorial</a>
        </li>
        <li class="menu-item">
          <a href="https://github.com/redhat-developer-demos/knative-tutorial/issues" title="Issue Tracker">Issue
            Tracker</a>
        </li>
         <li class="menu-item">
          <a href="https://www.openshift.com/learn/topics/serverless" title="OpenShift Serverless">OpenShift Serverless</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>